.container {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);



}

.container h3 {
  text-align: center;
}

.scills {
  display: grid;
  display: flex; gap: 10px;
  justify-content: center;

}
.item {
  font-weight: 600;
  font-size: 20px;
  color: rgb(26, 26, 132);
}
