@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #dce7ea, #f6bfe5);
  padding: 20px;
  text-align: center;
}

.content {
  max-width: 600px;
  background-color: rgba(255, 255, 255, 0);
  



}

.title {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.titleBlack {
  margin-top: -15px;
  font-size: 50px;
  font-weight: 900;
  color: #397ee6;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.subtitle {
  font-size: 18px;
  color: #494545;
  margin-bottom: 30px;
}

.button {
  padding: 14px 28px;
   background: linear-gradient(135deg, #b67adb, #3965b5);
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.button:hover {
  background: linear-gradient(135deg, #e8d9f2, #3965b5);
  transform: scale(1.05);
}