.navigation {
  display: flex;
  gap: 20px;
  padding: 16px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  justify-content: center;
}

.link {
  font-size: 16px;
  text-decoration: none;
  color: #444;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.link:hover {
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.075);
}

.active {
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.075);
  
}

.buttonDashboard {
  font-size: 16px;
  text-decoration: none;
  color: black;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: white;
  margin-left: 20px;  
  border:  1px solid black;
}

.buttonDashboard:hover {
  background-color: rgba(133, 133, 133, 0.111);
}