.container {
 padding: 10px;
 display: flex;
 justify-content: space-between;
 
 align-items: center;
 border-bottom: 2px solid rgba(161, 161, 161, 0.469);
}

.name {
color: rgb(0, 0, 0);
font-weight: 500;
font-size: 20px;
}

button {
background: none;
border: rgb(0, 0, 0) 2px solid;
border-radius: 5px;
padding: 5px;
font-size: 18px;
color: rgb(0, 0, 0);
}

button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.right {
    display: flex; 
    gap: 10px;
    align-items: center;
}

.title {
    font-weight: 900;
    font-size: 20px;
    color: rgb(94, 34, 206);
}

.title span {
    color: rgb(117, 171, 225);
}