nav {
    padding: 20px;
    background-color: rgba(48, 55, 204, 0.691);
    border-radius: 10px;
    margin-bottom: 10px;
}

nav>a {
    margin-right: 10px;
    background-color: bisque;
    padding: 5px;
    border: 2px solid rgb(164, 6, 132);
    border-radius: 5px;
    color: black;
    font-weight: 700; 
    text-decoration: none;
}
nav>a:hover {
    background-color: rgb(242, 239, 234);
}