.about {
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.about * {
    color: #4E5158;
}



.about_title {
    font-size: 24px;
    font-family: EvolveLight;
}

.about_content {}

.about_img {
    max-width: 290px;
    margin: 0 auto;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    position: relative;
}

.about_img>img:first-child {
    display: block;
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 4;

}

.about_img>img:nth-child(2) {
    width: 30%;
    position: absolute;
    bottom: 70%;
    right: 73%;
    z-index: 5;


}

.about_img>img:nth-child(3) {
    width: 30%;
    top: 77%;
    right: 2%;
    position: absolute;
    z-index: 5;
}

.about_img>img:nth-child(4) {
    width: 15%;
    position: absolute;
    top: 81%;
    right: 10%;
    z-index: 6;
}

.about_img>img:nth-child(5) {
    width: 15%;
    position: absolute;
    top: 0%;
    right: 89%;
    z-index: 2;
}



.about_text {
    font-size: 22px;
    padding-right: 10px;
    padding-left: 10px;

}

.about_text p {
    font-family: EvolveThin;
}

.about_text p>span {
    font-family: EvolveLight;
}

.about_text a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #D8968D;
}


/* ----------410  ---------------- */
@media (min-width:410px) {
    .about_img {
        max-width: 400px;
    }
    .about_text {
        font-size: 22px;
        padding-right: 20px;
        padding-left: 20px;
    
    }
}



/* ----------------768--------------- */

@media (min-width:768px) {
    .about_content {
       display: flex;
       align-items: center;
       padding-left: 0px;
       padding-right: 0px;
       flex-basis:50%;
       width: 100%;
     
       
        

    }

    .about_img {
        /* flex-grow: 1; */
        max-width: 900px;
        flex: 0 0 50%;
        
    }

    .about_text {
        /* width: 50%; */
        max-width: 770px;
        
        
    }
    .about_text a {
        text-align: left;
    }
    


}

@media (min-width:1024px) {
    .about {
        max-width: 1790px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .about_title {
        font-size: 33px;
    }
    .about_text {
        font-size: 23.64px;
    }
    .about_text p {
        margin-bottom: 50px;
    }
    .about_text a {
        transition: color 0.3s;
    }

    .about_text a:hover {
        color: #F1C9C4;
    }
}

@media (min-width:1560px) {
    .about_title {
        
        margin-bottom: 70px;
    }
}


