



.container {
    @apply flex items-center justify-between mb-4 px-4;
}

.button {
    @apply w-10 h-10  rounded-full flex justify-center items-center  leading-none cursor-pointer transition-colors duration-300;
    border: 2px solid #94AABD;
    
}

.button:hover {
    background-color: #94aabd30;
   



}

@media (pointer: coarse) {
    
.button:hover {
    background-color: #ffffff00;
   



}
}
.button>div {
    @apply  translate-y-0.5;
    color: #94AABD;
}
.month {
    @apply text-xl font-semibold text-center ;
    color: 	#94AABD
}

.left {
    @apply rotate-90;
}
.right {
    @apply rotate-270;
}